body {
    background-color: #c6f0ea;
}

.titre {
    font-size: xx-large;
    color: green;
    font-weight: bolder;
}

.header {
    display: flex;
    justify-content: space-around;
}

.logo_afpa {
    object-fit: contain;
}

.separation_titre {
    size: 20px;
    border-top: 5px solid green;
}

.separation_footer {
    border-top: 5px solid green;
    position: absolute;
}

.Duree {
    margin-top: 1%;
    border: 1px solid black;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    position: relative;
    width: auto;
}

.date {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.date label {
    margin-bottom: 10px;
}

.Renseignements {
    border: 3px double black;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    width: auto;
}

.Raisons {
    margin-top: 1%;
    border: 1px solid black;
    padding: 10px;
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    position: relative;
    width: auto;
}

.Raisons label {
    display: flex;
    font-size: smaller;
    width: auto;
    background-color: bisque;
    border: 1px dotted black;
    margin: 2px;
}

.footer {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 20px;
}

.submit {
    position: relative;
    left: 45%;
    margin-top: 10px;
}

.signature {
    color: green;
    font-weight: bold;
    justify-content: center;
    display: flex;
}

.Signature_stagiaire {
    border: 1px solid black;
    justify-content: center;
    display: flex;
    height: 200px;
    width: auto;
}

@media screen and (min-width: 915px) {
    #date {
        flex-direction: row;
        justify-content: space-around;
    }

    .Renseignements {
        left: 20%;
        width: 50%;
    }

    .Duree {
        left: 11%;
        width: 70%;
    }

    .grid {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .signature {
        position: fixed;
        left: 45%;
        bottom: 80px;
        height: 350px;
        width: 1000px;
    }

    .Raisons {
        grid-column-start: 1;
    }

    .Signature_entreprise {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 0% 20%;
        line-height: 30px;
    }
}

@media print {
    
    /**
    * Reset global de toutes les propriétés
    */
    * {
        all: unset;
        display: revert;
        font-size: small;
    }

    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    img {
        max-width: 100%;
    }

    input,
    textarea,
    select {
        all: revert;
    }

    /**
    * Taille de polices globales (13pt=16px), couleur de texte et de fond
    * Famille de police en serif (avec empattements)
    */

    body {
        font-family: Georgia, "Times New Roman", Times, serif;
        font-size: 13pt;
        line-height: 1.5;
        background-color: #fff !important;
        color: #000 !important;
    }

    h1 {
        font-size: 24pt;
    }

    h2 {
        font-size: 20pt;
        margin-top: 20pt;
    }

    h5,
    h6 {
        font-size: 13pt;
        margin-top: 14pt;
    }

    /**
    * Sauts de pages
    */
    ul,
    ol,
    dl,
    a,
    table,
    pre,
    blockquote {
        page-break-inside: avoid;
        /* pas de sauts au sein de ces élements */
    }

    h1,
    h2,
    h3,
    h5,
    h6,
    img,
    figure,
    caption {
        page-break-inside: avoid;
        /* pas de sauts au sein de ces élements */
        page-break-after: avoid;
        /* pas de saut après ces éléments */
    }

    ul,
    ol,
    dl {
        page-break-before: avoid;
        /* pas de sauts avant de ces élements */
    }

    /**
    * Liens
    */

    a,
    a:link,
    a:visited {
        background:
            transparent !important;
        color: unset;
        font-weight: 700;
        text-decoration: underline !important;
    }

    a[href^=http]:after,
    a[href^=https]:after {
        content: " (" attr(href) ")";
        /* affichage des URL des liens externes */
    }

    /**
    * Masquage des vidéos
    */

    video,
    object,
    iframe {
        display: none !important;
        width: 0 !important;
        height: 0 !important;
        overflow: hidden !important;
    }

    /**
    * Classes utilitaires
    */

    .u-print {
        display: block;
        display: revert !important;
        /* affichage des éléments de classe u-print */
    }

    .u-no-print {
        display: none !important;
        /* masquage des éléments de classe u-no-print */
    }

    .Imprimer {
        display: none;
    }

    header {
        display: none;
    }

    .titre {
        font-size: medium;
    }

    .form {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        position: relative;
        top: 0%;
        margin: 20px 0px;
    }

    .Renseignements {
        border: none;
        grid-column-start: 1;
        margin: 0px 10px;
        width: 50%;
        padding: 0px 5px;
    }

    .signature {
        position: absolute;
        right: 0%;
        bottom: 0%;
        height: 375px;
        width: 300px;
    }


    .Duree {
        grid-column-start: 2;
        border: none;
        margin: 0%;
    }

    .Raisons {
        all : unset;
        margin: 5px;
        overflow: visible;
        border: 1px solid black;
        padding: 10px;
    }

    .Raisons label {
        display: flex;
        font-size: x-small;
        width: auto;
        background-color: bisque;
        border: 1px dotted black;
        margin: 2px;
    }

    .grid {
        font-size: 1px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .footer {
        display: none;
    }

    .Raisons h4 {
        margin: 0px !important;
    }

    

}